h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

.color_gris {
  color: #a9a9a9 !important;  
}

.margen-inferior-chico {
  margin-bottom: 8px;
}

.margen-inferior-medio {
  margin-bottom: 12px;
}

.margen-inferior-grande {
  margin-bottom: 16px;
}

#notice {
  border: 2px solid #0099cc; // azul claro
}