h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

.enlace_en_boton {
  color: #000000 !important; 
}

.ancho_75 {
  width: 75%;
  display: inline;
  border-color: #9f9b9b;
}

.ancho_50 {
  width: 50%;
  display: inline;
  border-color: #9f9b9b;
}

.ancho_25 {
  width: 25%;
  display: inline;
  border-color: #9f9b9b;
}

.ancho_15 {
  width: 15%;
  display: inline;
  border-color: #9f9b9b;
}

.ancho_10 {
  width: 10%;
  display: inline;
  border-color: #9f9b9b;
}

.color_gris {
  color: #a9a9a9 !important;  
}

.margen-inferior-chico {
  margin-bottom: 8px;
}

.margen-inferior-medio {
  margin-bottom: 12px;
}

.margen-inferior-grande {
  margin-bottom: 16px;
}

#notice {
  border: 2px solid #0099cc; // azul claro
}